  <% if flash[:success] %>
    <div class="alert alert-success" role="alert"><%= flash[:success] %></div>
  <% end %>

  <h1> <%= current_user.name %> </h1>

  <%= render partial: "posts/post", collection: @posts, as: :post, locals: { author: false, klass: "all-posts" } %>
