  <div class=<%= klass %> >
    <div class="post">
      <h3><%= link_to post.title, user_post_path(post.user, post.id) %></h3>
      <p> <%= post.snippet %> </p>
      <% if author %>
        <div class="author">By, <%= post.user.name %></div>
      <% end %>
    </div>
  </div>
