<div class="page-nav">
  <a href="#" class="all-posts-link">All Posts</a>
  <% if user_signed_in? %>
    <a href="#" class="my-posts-link">My Posts</a>
  <% end %>
</div>

<div class="public-posts">
  <%= render partial: "post", collection: @posts, as: :post, locals: { author: true, klass: "all-posts", image: true } %>
  <%= will_paginate @posts, class: "all-posts" %>
</div>


<% if @user_posts %>
  <%= render partial: "post", collection: @user_posts, as: :post, locals: { author: false, klass: "my-posts", image: true } %>
<% end %>
